<ion-content [fullscreen]="true">
  <section class="ion-padding">
    <img src="assets/image/starting.png" alt="starting-images">
    <div class="information">
      <ion-text>
        <h5>Operator ready, starting soon</h5>
      </ion-text>
      <ion-text>
        <p>Waiting for the  clinic response your request in 15 minutes you can minimize this screen and comeback anytime</p>
      </ion-text>
    </div>
    <div class="permissions">
      <div class="rounded">
        <ion-icon name="videocam"></ion-icon>
      </div>
      <div class="rounded">
        <ion-icon name="mic"></ion-icon>
      </div>
    </div>
  </section>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button
    expand="block"
    class="with-text"
    (click)="performEnterConsultationRoom()"
  >Enter the Room</ion-button>
</ion-footer>
